<!-- <!doctype html>
<html>
  <head>
    <title>Sales Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div id="sales-graph"></div>
  </body>
  <script>
    var salesGraph = {
      data: [
        {
          x: ['Product A', 'Product B', 'Product C'],
          y: [20, 14, 23],
          type: 'bar'
        }
      ],
      layout: {
        title: 'Sales by Product'
      }
    };
    Plotly.newPlot('sales-graph', salesGraph.data, salesGraph.layout);
  </script>
</html>
 -->
